.grid {
    width: 100%;
    max-width: 100%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    grid-auto-flow: row dense;
    grid-gap: 10px;
    counter-reset: boxes;
}

.box {
    position: relative;
    color: rgba(255, 255, 255, 0.7);
    font-size: 2rem;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box::before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 50%;
    /* Maintains aspect ratio */
}

.box::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    /* Keeps the pseudo-element behind the content */
}

.time-info {
    visibility: hidden;
}

.time-display span {
    visibility: visible;
    /* Show the span by default */
}

.time-display:hover span {
    visibility: hidden;
    /* Show the span by default */
}

.time-display:hover {
    opacity: 0;
    /* Fade out the time display */
}

.time-display:hover+.time-name {
    visibility: visible;
    /* Make the name visible */
    opacity: 1;
    /* Fade in the name */
}

.time-display {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 0.2s ease-in-out;
    z-index: 1; /* Keep above .time-name by default */
}

.time-name {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    z-index: 0; /* Start below .time-display */
}

.box:hover .time-display {
    opacity: 0;
    z-index: 0; /* Send behind .time-name */
}

.box:hover .time-name {
    visibility: visible;
    opacity: 1;
    z-index: 1; /* Bring to front */
}


.blue {
    background: #4040e7;
    border: 5px solid rgba(0, 0, 0, .5);
}

.red {
    background: #db3c3c;
    border: 5px solid rgba(0, 0, 0, .5);
}

.green {
    background: #3ddb3d;
    border: 5px solid rgba(0, 0, 0, .5);
}

.tall {
    grid-column: span 1;
    grid-row: span 2;
}

.wide {
    grid-row: span 1;
    grid-column: span 2;
}

.square {
    grid-row: span 1;
    grid-column: span 1;
}

.shuffleWrap {
    padding: 20px;
    display: flex;
    justify-content: center;
}

@media(max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .wide {
        grid-column: span 1;
    }
}